
/*Homepage*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.menu.left ul {
    list-style-type: none;
    display: flex;
}

.menu.left li {
    margin-right: 20px;
}

.menu.left a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.menu.right
{
    display: flex;
    align-items: center;
}

.menu.right a, .menu.right button {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.menu.right button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu.right button:hover {
    color: #2600ff;
}


body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode header {
    background-color: #444;
}

body.dark-mode a, body.dark-mode button {
    color: #fff;
}

body.dark-mode a:hover {
    color: #66ccff;
}



h1, h2 {
    margin-bottom: 0rem;
}

p {
    margin-bottom: 1.5rem;
}

main {
    margin-top: 60px; 
}


.container {
    padding: 20px;
}


.imagens-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: auto; 
}

img {
    max-width: 250px; 
    height: auto;     
    border-radius: 8px; 
    margin: 20px 0px;
}