/*Homepage*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;

}

header {

    background-color: #2cebd1;
    color: #fff;
    padding: 20px 20px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;

}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    with: 100%
}

.menu.left,
.menu.right {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    background-color: #007BFF;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.menu li a:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /* Sombra ao passar o mouse */
    transform: translateY(-2px);
    /* Efeito de elevação */
}

.menu.right li a {
    background-color: #007BFF;
    /* Cor diferenciada para o menu da direita */
}

.menu.right li a:hover {
    background-color: #0056b3;

}

/* Estilo do botão "Loja" */
.menu li a.store-btn {
    background-color: #6c757d;
    /* Cinza */
    color: #fff;
    border: 1px solid #5a6268;
    /* Cinza escuro para o contorno */
    position: relative;
}

/* Efeito de hover para o botão "Loja" */
.menu li a.store-btn:hover {
    background-color: #5a6268;
    /* Cinza mais escuro no hover */

}

.menu li a.carrinho-btn {
    background-color: #6c757d;
    /* Cinza */
    color: #fff;
    border: 1px solid #5a6268;
    /* Cinza escuro para o contorno */
    position: relative;
}


.menu li a.carrinho-btn:hover {
    background-color: #5a6268;
    /* Cinza mais escuro no hover */

}


/* card de texto*/
h1,
h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
    font-weight: 600;

}

p {
    margin-bottom: 1.5rem;
}

main {
    margin-top: 60px;
}


.container {
    padding: 20px;
    align-items: center
}

/* Seção de Países */
.featured-countries {
    padding: 40px;
    text-align: center;
    background-color: white;

}


#countries-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.country-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #e7eff0;
    width: 300px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 2px 5px;
    /* sombra para os destaque */
}


.country-card img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.country-card h3 {
    font-size: 1.5rem;
    /* Tamanho fixo para os títulos */
    color: #0a0e13;
    margin: 10px 0;
    font-weight: bold;
}

.country-card p {
    font-size: 1rem;
    /* Tamanho uniforme para os textos */
    color: #555;
    margin: 5px 0;
}



/* Botão de Login */
.login-btn {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    background-color: #007BFF;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.login-btn:hover {
    background-color: #0056b3;
}


/* Modal de Login */
.modal {
    display: none;
    /* Oculto por padrão */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    z-index: 10;
}

.modal.hidden {
    display: none;
    /* Classe para esconder o modal */
}

.modal.active {
    display: flex;
    /* Exibe o modal */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    cursor: pointer;
}

.modal input,
.modal button {
    margin: 10px 0;
    width: 100%;
    padding: 8px;
}

.modal button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #45a049;
}

button,
.login-btn {
    border: none;
    /* Remove a borda */
    outline: none;
    /* Remove o foco padrão */
}

/* para telemóveis */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        /* Alinha os itens verticalmente */
        align-items: center;
        width: 100%;

    }

    .menu {
        flex-direction: column;
        /* Alinha os itens em coluna */
        align-items: center;
        gap: 10px;
        /* Adiciona espaço entre os itens */
        width: 100%;
        /* Garante que ocupa toda a largura */
    }

    .menu.left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu.right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .menu li {
        width: auto;
    }

}