/*Homepage*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;

}

header {

    background-color: #19c962;
    color: #fff;
    padding: 20px 20px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu.left,
.menu.right {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    background-color: #007BFF;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.menu li a:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
    transform: translateY(-2px); /* Efeito de elevação */
}

.menu.right li a {
    background-color: #007BFF; 

}

.menu.right li a:hover {
    background-color: #0056b3;
}

/* para telemóveis */
@media (max-width: 768px) {
    .menu.left ul {
        display: flex 
        flex-direction: column;
        align-items: center;
    }

    .menu.right {
        display: flex 
        flex-direction: column;
        align-items: center;
    }
}



.header h1 {
    text-align: center;
    font-weight: bold;
}

.table{
    margin: 1px auto;
    border: 1px;
}

.td {
    padding: 10px;
}

/* Botão de Login */
.login-btn {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    background-color: #007BFF;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.login-btn:hover {
    background-color: #007BFF;
    }

    
    /* Modal de Login */
.modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.modal.hidden {
    display: none; /* Classe para esconder o modal */
}

.modal.active {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    cursor: pointer;
}

.modal input,
.modal button {
    margin: 10px 0;
    width: 100%;
    padding: 8px;
}

.modal button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #45a049;
}

button, .login-btn {
    border: none; /* Remove a borda */
    outline: none; /* Remove o foco padrão */
}
